{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "choices_teachers.css" %}">
    <title>Document</title>

</head>
<header class="nav-bar">
    <nav>
    <section class="nav-name">
    <img src="{% static "img/logo.png" %}" class="logo-project" alt="">
    </section>
        <section class="others">
            <section class="others1"><span class="others-subject" onclick="menu()">مواد</span><img class="others-arrow" id="menu-subject" src="{% static "img/arow.png" %}" alt=""  onclick="menu()" >
            <section id="menu-bar1" class="menu-bar" style="display: none;" >
                <a href="arabic.php">عربية</a>
                <a href="pages/math.html">رياضيات</a>
                <a href="pages/french.html">فرنسية</a>
                <a href="pages/english.html">إنجليزية</a>
                <a href="pages/igti.html">إجتماعيات </a>
                <a href="pages/madania.html">ت.مدنية </a>
                <a href="pages/islamic.html" style="margin-right: 5px;" >ت.إسلامية </a>
                </section></section>
            <section class="others1"><span class="others-subject">تواصل معنا</span><img class="others-arrow" src="{% static "img/arow.png" %}" alt=""></section>
        </section>
        <button class="sign-button" >سجل</button></section>
</header>
    <body style=" background-image: url({% static "img/relation.jpg" %}); ">
        <div class="card-container">
                <div class="card">
                    <form action="{% url 'choices' %}" method="post">
                    {% csrf_token %}
                    <img src="{% static "img/notes.png" %}" alt="Image" class="card-image">
                    <div class="card-content">
                        <h2 class="card-title">تسجيل الملاحظات</h2>
                        <p class="card-text">هذه الصفحة مخصصة لتسجيل الملاحظات من طرف الاساتذة ثم يتم معرفتها من طرف الاولياء.</p>
                        <button type="submit" class="card-button">الدخول  لتسجيل الملاحظات</button>
                    </div>
                </div>
            </form>
            <form action="{% url 'reply' %}" method="post" >
                <div class="card">
                    {% csrf_token %}
                    <img src="{% static "img/conversation.png" %}" alt="Image" class="card-image">
                    <div class="card-content">
                        <h2 class="card-title">الرد على الدردشات مع الاولياء</h2>
                        <p class="card-text">الدردشة مع الولي من الضرروري فعله لمعرفة الظروف السائدة لدى التلميذ.</p>
                        <button type="submit" class="card-button">الدخول للرد على الاولياء</button>
                    </div>
                </div>
            </form>
            </div>
</body>
<script>
    function menu(){
        let Menu=document.getElementById('menu-bar1');
        if (Menu.style.display === 'none') {
            Menu.style.display = 'block';
            Menu.style.display = 'flex';
        }
        else {
            Menu.style.display = 'none';
        }
    }
    function menu2() {
    let Menu = document.getElementById('menu-bar2');

    // Toggle display if it's currently hidden
    if (Menu.style.display === 'none') {
        Menu.style.display = 'block';
        Menu.style.display = 'flex';
    } else {
        Menu.style.display = 'none'; // Hide the menu if it's currently shown
    }

    // Check if the height of the menu is less than or equal to 20
    if (Menu.clientHeight <= 50) {
        Menu.style.overflow = 'auto'; // Set overflow to auto if the height is less than or equal to 20
    }
    }
</script>

</html>